.env

db.sqlite3
media/
staticfiles/
node_modules/

__pycache__/
*.py[cod]
*.sqlite3

venv/
env/

.DS_Store

.vscode/

node_modules
venv

package-lock.json
package.json
tailwind.config.js

Parth_Pithadiya_CV.json
Parth_Pithadiya_CV.pdf